// Susy grid
$susy: (
  columns: 4,
  gutters: 1/12,
);

// Typography
$base-font:             "Open Sans", sans-serif;              // Base font
$base-font-size:        16px;                                 // Set the base font size
$base-spacing:          ($base-font-size)*1.5;                // Set the base spacing to 150% base font size
$base-line-height:      ($base-font-size)*1.5;                // Set the base line-height to 150% base font size

// Responsive breakpoints
$breakpoint-alpha:      25em;                                 // 400px
$breakpoint-beta:       37.5em;                               // 600px  Small tablets
$breakpoint-charlie:    48em;                                 // 768px  Portrait bigger tablets
$breakpoint-delta:      64em;                                 // 1024px Landscape bigger tablets
$breakpoint-echo:       75em;                                 // 1200px Laptops
$breakpoint-foxtrot:    90em;                                 // 1440px Desktop
$breakpoint-golf:       100em;                                // 1600px Extra wide

$breakpoint-beta-min: ($breakpoint-beta - (1em / 16));        // contract 1 pixel
$breakpoint-charlie-min: ($breakpoint-charlie - (1em / 16));  // contract 1 pixel