---
layout: default
rooturl: home
---
{% assign total-v1 = site.data.zones-v1.items | size %}
{% assign total-v2 = site.data.zones-v2.items | size %}

<div class="clearfix">
    <div class="homepage__sticky">
        <h1>Used by {{ total-v1 | plus:total-v2 }} police zones</h1>
        <h2 id="version-1">Version 1</h2>
        <ul class="nav nav nav--pills column--double">
            {% for zone in site.data.zones-v1.items %}
            {% case zone.data.language %}
            {% when "1" %}
            {% capture prefix %}Politie{% endcapture %}
            {% capture domain %}lokalepolitie{% endcapture %}
            {% capture title %}{{ zone.data.title_nl }}{% endcapture %}
            {% when "2" %}
            {% capture prefix %}Police{% endcapture %}
            {% capture domain %}policelocale{% endcapture %}
            {% capture title %}{{ zone.data.title_fr }}{% endcapture %}
            {% when "3" %}
            {% capture prefix %}Politie{% endcapture %}
            {% capture domain %}lokalepolitie{% endcapture %}
            {% capture title %}{{ zone.data.title_nl }}{% endcapture %}
            {% endcase %}

            {% if zone.data.platform == "1" %}
            <li><a href="http://www.{{ domain }}.be/{{ zone.data.id }}">{{ prefix }} {{ title }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
        <h2 id="version-2">Version 2</h2>
        <ul class="nav nav nav--pills column--double">
            {% for zone in site.data.zones-v2.items %}
            {% case zone.data.language %}
            {% when "1" %}
            {% capture prefix %}Politie{% endcapture %}
            {% capture domain %}lokalepolitie{% endcapture %}
            {% capture title %}{{ zone.data.title_nl }}{% endcapture %}
            {% when "2" %}
            {% capture prefix %}Police{% endcapture %}
            {% capture domain %}policelocale{% endcapture %}
            {% capture title %}{{ zone.data.title_fr }}{% endcapture %}
            {% when "3" %}
            {% capture prefix %}Politie{% endcapture %}
            {% capture domain %}lokalepolitie{% endcapture %}
            {% capture title %}{{ zone.data.title_nl }}{% endcapture %}
            {% endcase %}

            {% if zone.data.platform == "2" %}
            <li><a href="http://www.{{ domain }}.be/{{ zone.data.id }}">{{ prefix }} {{ title }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>

    </div>
</div>

