<% styleguide_block  '2.1' do %>
<ul class="breadcrumb">
  <li><a class="pathway">Home</a></li>
  <span class="divider">›</span>
  <li><a class="pathway">News</a></li>
  <span class="divider">›</span>
  <li>Sit Mattis Cursus</li>
</ul>
<% end %>