<% styleguide_block  '1.1' do %>
<button class="btn $modifier_class">Example Button</button>
<% end %>

<% styleguide_block  '1.2' do %>
<button class="btn btn-large $modifier_class">Example Button</button>
<% end %>