<% styleguide_block  '2.1' do %>
  <input type="text" value="Example Value">
<% end %>

<% styleguide_block  '2.2' do %>
  <div class="well">
    <div class="form__right">
      <button type="submit" class="btn btn-primary btn-block">Search</button>
    </div>
    <div class="form__left">
      <input name="searchword" type="search" value="" placeholder="Search ...">
    </div>
  </div>
<% end %>