<% styleguide_block  '2.1' do %>
<input type="text" placeholder="Placeholder">
<% end %>

<% styleguide_block  '2.2' do %>
<div class="well">
  <div class="form__right">
    <button class="button button--primary">Button</button>
  </div>
  <div class="form__left">
    <input type="search" value="" placeholder="Placeholder ...">
  </div>
</div>
<% end %>