<h1>CSS Styleguide</h1>

<p>Welcome to the Belgian Police CSS Styleguide. Before reading this, you should have a general understanding for specificity,
the <a href="http://sass-lang.com/">SCSS</a> syntax, and <a href="https://github.com/kneath/kss">KSS</a> documentation.</p>

<p>If you're visiting from the internet, feel free to learn from our style. We encourage you to set up one that works for your own team.</p>

<p>Check our <a href="https://github.com/belgianpolice/styleguide">GitHub repository</a> for the entire codebase of this site.</p>