<!DOCTYPE html>
<html>
<head>
  <title>Belgian Police CSS Styleguide</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/layout.css">
  <link rel="stylesheet" href="/stylesheets/styleguide.css">
  <link rel="stylesheet" href="http://police.dev/theme/mobile/css/styleguide.css">
</head>
<body>

  <header>
    Belgian Polcie CSS Styleguide
  </header>

  <div id="wrapper">

    <nav role="main">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/buttons">Buttons</a></li>
        <li><a href="/forms">Forms</a></li>
      </ul>
    </nav>

    <%= yield %>

  </div><!-- /#wrapper -->

  <script src="/javascripts/kss.js"></script>

</body>
</html>
