<!DOCTYPE html>
<html>
<head>
  <title>Belgian Police - CSS Styleguide</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="http://belgianpolice.github.io/css/default.css">
  <link rel="stylesheet" href="/stylesheets/styleguide.css">
  <link rel="stylesheet" href="/stylesheets/blocks.css">

  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="http://belgianpolice.github.io/js/navbar.js"></script>
</head>
<body id="page" class="no-js">
  <script type="text/javascript">function hasClass(e,t){return e.className.match(new RegExp("(\\s|^)"+t+"(\\s|$)"))}var el=document.getElementById("page");var cl="no-js";if(hasClass(el,cl)){var reg=new RegExp("(\\s|^)"+cl+"(\\s|$)");el.className=el.className.replace(reg,"js-enabled")}</script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-20242887-6', 'belgianpolice.github.io');
    ga('send', 'pageview');
  </script>

  <div id="wrap">
    <div class="container container__header" style="margin-bottom:0;">
        <div class="organization" itemscope itemtype="http://schema.org/Organization">
            <a itemprop="url" href="http://belgianpolice.github.io">
                <img class="organization__logo" width="160" itemprop="logo" src="http://belgianpolice.github.io/img/logo.jpg" />
                <div class="organization__name">Belgian Police</div>
            </a>
        </div>
        <div class="navigation">
            <span class="slogan">
                Open Development, Open Data & Open Government
            </span>
            <div class="navbar">
                <div class="navbar__handlebar">
                    <div class="navbar__handle">&equiv;</div>
                    <a class="navbar__logo" href="http://belgianpolice.github.io">Belgian Police </a>
                </div>
                <nav role="navigation">
                    <ul class="nav">
                        <li class="active"><a href="http://belgianpolice.github.io/styleguide">Styleguide</a></li>
                        <li><a href="http://github.com/belgianpolice/internet-platform">Internet Platform</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="container container__content">
      <aside class="sidebar">
        <ul class="nav nav--list">
          <li><a href="/">0. Overview</a></li>
          <li><a href="/article">1. Article</a></li>
          <li><a href="/breadcrumb">2. Breadcrumb</a></li>
          <li><a href="/buttons">3. Buttons</a></li>
          <li><a href="/forms">4. Forms</a></li>
          <li><a href="/gallery">5. Gallery</a></li>
          <li><a href="/media">6. Media</a></li>
          <li><a href="/navigation">7. Navigation</a></li>
          <li><a href="/pagination">8. Pagination</a></li>
          <li><a href="/table">9. Table</a></li>
        </ul>
      </aside>

      <div class="component">
        <%= yield %>
      </div>
    </div>
  </div>

  <script src="/javascripts/kss.js"></script>
  <script src="/javascripts/holder.js"></script>

</body>
</html>
