<!DOCTYPE html>
<html>
<head>
  <title>Belgian Police CSS Styleguide</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/default.css">
  <link rel="stylesheet" href="/stylesheets/styleguide.css">
  <link rel="stylesheet" href="/stylesheets/blocks.css">
</head>
<body>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-20242887-6', 'belgianpolice.github.io');
    ga('send', 'pageview');

  </script>

  <div id="wrap">
    <div class="container container__content">
      <aside class="sidebar" style="margin-top: 0;">
        <img width="160" height="42" src="/images/logo-en.jpg" style="margin-bottom: 40px"/>

        <ul class="nav nav--list">
          <li><a href="/">Overview</a></li>
          <li><a href="/buttons">Buttons</a></li>
          <li><a href="/forms">Forms</a></li>
          <li><a href="/media">Media</a></li>
          <li><a href="/navigation">Navigation</a></li>
        </ul>
      </aside>

      <div class="component">
        <%= yield %>
      </div>
    </div>
  </div>

  <script src="/javascripts/kss.js"></script>
  <script src="/javascripts/holder.js"></script>

</body>
</html>
