<% styleguide_block  '8.1' do %>
<div class="pagination">
  <ul>
    <li class="pagination__previous"><a href="#" rel="prev">Vorige</a></li>
    <li class="pagination__offset"><a href="#">1</a></li>
    <li class="pagination__offset active"><a href="#">2</a></li>
    <li class="pagination__offset"><a href="#">3</a></li>
    <li class="pagination__offset"><a href="#">4</a></li>
    <li class="pagination__next"><a href="nieuws?offset=6" rel="next">Volgende</a></li>
  </ul>
</div>
<% end %>