<div class="container container__footer_menu">
    <ul class="nav nav--list">
        {% for link in site.navigation %}
        {% assign current = nil %}
        {% if link.url == page.rooturl or link.url == page.category %}{% assign current = 'active' %}{% endif %}
        <li class="navigation__item {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}" role="menuitem">
            <a class="navigation__link" href="/{{ link.url }}/">{{ link.text }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

</div>

<div id="copyright">
    <div class="container container__copyright">
        <div class="copyright--left">
            {% for item in site.data.pages.footer %}
            {% assign current = nil %}
            {% if page.url contains item.url %}{% assign current = ' active' %}{% endif %}
            <a class="{{ current }}" href="{{ item.url }}">{{ item.text }}</a>{% if forloop.last %}{% else %} | {% endif %}
            {% endfor %}
        </div>
        <div class="copyright--right">
            By <a href="http://www.timble.net">Timble</a>
        </div>
    </div>
</div>

    <script type="text/javascript" src="/js/scripts.js"></script>
    {% if page.extra_js %}<link rel="stylesheet" href="/{{ page.extra_js }}">{% endif %}

    <script type="text/javascript">
        $(document).ready(function() {
            $('[data-gallery="enabled"]').magnificPopup({
                type: 'image',
                gallery:{
                    enabled:true
                }
            });
        });
    </script>

    <script type="text/javascript">
        window.liveSettings = {
            api_key: "b283954cbd344aebabda4220aae7f943",
            picker: "bottom-right",
            detectlang: true,
            dynamic: true,
            autocollect: true
        };
    </script>
    <script type="text/javascript" src="//cdn.transifex.com/live.js"></script>
</body>
</html>