{% assign total-v1 = site.data.zones-v1.items | size %}
{% assign total-v2 = site.data.zones-v2.items | size %}

<div class="container container__footer">
    <div class="row">
        <div class="footer__news">
            <h3>Latest from the blog</h3>
            {% for post in site.posts limit: 2 %}
            <div class="media">
                <a tabindex="-1" class="thumbnail media__object" href="{{ post.url }}">
                    <img width="64" height="48" src="/images/blog/{{post.image}}"{% if post.image %} alt="{{post.imagealt}}"{% endif %}>
                </a>
                <div class="media__body">
                    <a class="media__heading" href="{{ post.url }}">{{ post.title }}</a>
                    <div class="text--small">
                        {{ post.date | date: "%-d %B %Y" }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="footer__districts">
            <h2>Used by {{ total-v1 | plus:total-v2 }} police websites</h2>
            <p>
                {{ site.data.zones-v2.items | size | minus:1 }} Local Police zones and the Federal Police have already migrated to the <a href="{{site.url}}/blog/2013/09/15/belgian-police-internet-platform-released.html">latest version</a>.
            </p>
            <p>Check the complete list of <a href="{{site.url}}/sites.html">{{ total-v1 | plus:total-v2 }} websites</a>.</p>
        </div>
    </div>
</div>

<div class="container container__footer_menu">
    <ul class="nav nav--list">
        {% for link in site.navigation %}
        {% assign current = nil %}
        {% if link.url == page.rooturl or link.url == page.category %}{% assign current = 'active' %}{% endif %}
        <li class="navigation__item {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}" role="menuitem">
            <a class="navigation__link" href="/{{ link.url }}/">{{ link.text }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

</div>

<div id="copyright">
    <div class="container container__copyright">
        <div class="copyright--left">
            {% for item in site.data.pages.footer %}
            {% assign current = nil %}
            {% if page.url contains item.url %}{% assign current = ' active' %}{% endif %}
            <a class="{{ current }}" href="{{ item.url }}">{{ item.text }}</a>{% if forloop.last %}{% else %} | {% endif %}
            {% endfor %}
        </div>
        <div class="copyright--right">
            By <a href="http://www.timble.net">Timble</a>
        </div>
    </div>
</div>

    <script type="text/javascript" src="/js/scripts.js"></script>
    {% if page.extra_js %}<link rel="stylesheet" href="/{{ page.extra_js }}">{% endif %}

    <script type="text/javascript">
        $(document).ready(function() {
            $('[data-gallery="enabled"]').magnificPopup({
                type: 'image',
                gallery:{
                    enabled:true
                }
            });
        });
    </script>
</body>
</html>