<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name=”mobile-web-app-capable” content=”yes” />
    <meta name="apple-mobile-web-app-title" content="Police - Blog">
    <title>{{ page.title }} - {{ site.name }}</title>
    <meta property="og:url" content="{{site.url}}/{{page.url}}"/>
    <meta property="og:title" content="{{page.title}} - {{ site.name }}"/>
    {% if page.excerpt %}<meta property="og:description" content="{{page.excerpt | strip_html | strip_newlines }}"/>{% endif %}
    {% if page.image %}<meta property="og:image" content="{{site.url}}/images/blog/{{page.image}}"/>{% endif %}
    {% if page.date %}<meta property="article:published_time" content="{{page.date | date: '%Y-%m-%d' }}"/>{% endif %}
    <link rel="shortcut icon" type="image/ico" href="{{ site.url }}/images/favicon.ico" />
    <link rel="shortcut icon" type="image/png" href="{{ site.url }}/images/xtouch-icon.png" />
    <link rel="apple-touch-icon" type="image/png" href="{{ site.url }}/images/xtouch-icon.png"/>
    <link rel="stylesheet" href="http://belgianpolice.github.io/css/default.css">
    <link rel="stylesheet" href="{{ site.url }}/css/style.css">
    {% if page.extra_css %}<link rel="stylesheet" href="{{ site.url }}/{{ page.extra_css }}">{% endif %}
    {% if page.extra_head_markup %}{{page.extra_head_markup}}{% endif %}

    <!--[if lte IE 7]>
    <link rel="stylesheet" href="{{ site.url }}/css/ie7.css">
    <![endif]-->

    <!--[if IE 8]>
    <link rel="stylesheet" href="{{ site.url }}/css/ie8.css">
    <![endif]-->

    <!--[if lte IE 8]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body id="page" class="{{ page.rooturl }} no-js">
    <script type="text/javascript">function hasClass(e,t){return e.className.match(new RegExp("(\\s|^)"+t+"(\\s|$)"))}var el=document.getElementById("page");var cl="no-js";if(hasClass(el,cl)){var reg=new RegExp("(\\s|^)"+cl+"(\\s|$)");el.className=el.className.replace(reg," js-enabled")}</script>
    <!--[if lte IE 7]><div class="old-ie"><![endif]-->
    <div id="wrap">
        <div class="container container__header">
            <div class="organization" itemscope="" itemtype="http://schema.org/Organization">
                <a itemprop="url" href="/">
                    <img class="organization__logo" width="160" itemprop="logo" src="{{site.url}}/images/logo.jpg">
                    <div class="organization__name">Belgian Police</div>
                </a>
            </div>
            <div class="navigation">
            <span class="slogan">
                Open Development, Open Data &amp; Open Government
            </span>
                <div class="navbar">
                    <div class="navbar__handlebar">
                        <div class="navbar__handle">≡</div>
                        <a class="navbar__logo" href="/">Belgian Police </a>
                    </div>
                    <nav role="navigation">
                        <ul class="nav">
                            <li><a href="http://belgianpolice.github.io/styleguide">Styleguide</a></li>
                            <li><a href="http://github.com/belgianpolice/internet-platform">Internet Platform</a></li>
                            <li><a href="http://belgianpolice.github.io/blog/">Blog</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>