---
layout: blog
title: Blog
rooturl: blog
excerpt: A product blog about developing and iterating the Belgian Police Web Platform. For the people who publish content to their site and anyone else who is interested.
---

<div class="post__container">
    <div class="group">
        {% for post in paginator.posts %}
        <article class="article">
            <header class="article__header">
                <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
                <time class="text--small" itemprop="datePublished" datetime="{{page.date}}">
                    {{ post.date | date: "%-d %B %Y" }}
                </time>
            </header>
            {% if post.image %}
            <a class="article__thumbnail" tabindex="-1" href="{{ post.url }}">
                <img width="400" height="300" src="/images/blog/{{post.image}}"{% if post.image %} alt="{{post.imagealt}}"{% endif %}>
            </a>
            {% endif %}
            {{ post.excerpt }}
            {% if post.excerpt != post.content %}
            <a href="{{ post.url }}">Read more →</a>
            {% endif %}
        </article>
        {% endfor %}

        {% include vendor/pagination.html %}

    </div>
</div>