// Specific styles for the documentation pages
.documentation {
  counter-reset: section;

  p + h2,
  ul + h2,
  ol + h2 {
    margin-top: 80px;
  }

  h2::before {
    counter-increment: section;      /* Increment the section counter */
    content: counter(section, upper-roman) ". "; /* Display the counter */
  }
}

.mimic_column {
  display: inline-block;
  width: 100px;
}

.grid_container {
  @include cf;
}

.grid__item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.grid__item__image {
  margin-bottom: 1em;
}

.grid__item__content {
  h2 {
    font-size: 1.2em;
  }
}

blockquote {
  background: #f9f9f9;
  color: #333;
  border-left: 0.4em solid #ccc;
  margin: 0 0 24px;
  padding: 1em;
  quotes: "\201C" "\201D" "\2018" "\2019";

  &:before {
    font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
    color: #004d9f;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.15em;
    vertical-align: -0.4em;
  }

  p {
    display: inline;
    font-weight: normal !important;
  }
}

@media screen and (min-width: 767px) {
  .header .organization__logo {
    margin-top: 14px;
    margin-left: 0;
    width: 190px;
    height: 45px;
    background-size: 190px 45px;
  }

  .header .organization__name {
    display: none;
  }
}

