// Specific styles for the documentation pages
.documentation {
  counter-reset: section;

  p + h2,
  ul + h2,
  ol + h2 {
    margin-top: 80px;
  }

  h2::before {
    counter-increment: section;      /* Increment the section counter */
    content: counter(section, upper-roman) ". "; /* Display the counter */
  }
}

.mimic_column {
  display: inline-block;
  width: 100px;
}

.grid_container {
  @include cf;
}

.grid__item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 40px;

  @media screen and (min-width: 386px) and (max-width: 599px) {
    float: left;
    width: 47%;
    margin-left: 6%;

    &:nth-child(2n+1) {
      margin-left: 0;
      clear: left;
    }
  }

  @media screen and (min-width: 600px) {
    float: left;
    width: 30%;
    margin-left: 5%;
    clear: none;

    &:nth-child(3n+1) {
      margin-left: 0;
      clear: left;
    }
  }
}

.grid__item__image {
  display: block;
  border: 1px solid #ccc;
  padding: 1px;
  background: #fff;
  margin-bottom: 1em;

  img {
    display: block;
  }
}

.grid__item__content {
  h2 {
    font-size: 1.2em;
  }
}