---
layout: features
rooturl: features
excerpt: Features for the open government platform for the Belgian Local Police.
title: Features
---

<div class="grid_container">
{% assign features = site.data.features.design.features | sort: 'title') %}
{% include features.html features=features %}
</div>

<h2>Methodologies</h2>
<div class="grid_container">
{% assign features = site.data.features.methodologies.features | sort: 'title') %}
{% include features.html features=features %}
</div>

<h2>Architecture</h2>
<div class="grid_container">
{% assign features = site.data.features.architecture.features | sort: 'title') %}
{% include features.html features=features %}
</div>