{% include header.html %}

<div class="container container__content">
    <aside class="sidebar">
        <div class="sidebar__element">
            <ul class="nav nav--list">
                {% for post in site.documentation %}
                {% if post.url != '/documentation/index.html' %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </aside>
    <div class="component">
        <h1>{{ page.title }}</h1>
        {{ content }}

        <div class="pagination">
            <ul>
                {% for post in site.documentation %}
                {% assign previous = page.index | minus: 1 %}
                {% if post.index == previous %}
                <li class="pagination__previous"><a href="{{ post.url }}">Previous</a></li>
                {% endif %}
                {% endfor %}

                {% for post in site.documentation %}
                {% assign next = page.index | plus: 1 %}
                {% if post.index == next %}
                <li class="pagination__next"><a href="{{ post.url }}">Next</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% include footer.html %}