---
layout: compress
---

{% include header.html %}

<div class="container container__breadcrumb">
    <ul class="breadcrumb">
        <li><a href="/" class="pathway">Home</a></li>
        <span class="divider">›</span>
        {% if page.title == 'About' %}
        <li>About</li>
        {% else %}
        <li><a href="/about" class="pathway">About</a></li>
        <span class="divider">›</span>
        <li>{{ page.title }}</li>
        {% endif %}
    </ul>
</div>

<div class="container container__content">
    <h1>{{ page.title }}</h1>
    {{ content }}
</div>

{% include footer.html %}