<% styleguide_block  '1.1' do %>
<article class="article" itemscope="" itemtype="http://schema.org/Article">
  <header class="article__header">
      <h1 itemprop="name">Sit Mattis Cursus</h1>
      <time class="timestamp" itemprop="datePublished" datetime="2014-01-31T17:58:26+00:00">Vr 31/01/2014 - 17:58</time>
  </header>

  <a class="article__thumbnail" href="#">
    <img itemprop="image" width="200" height="150" src="holder.js/200x150">
  </a>

  <div itemprop="articleBody">
    <p>Curabitur blandit tempus porttitor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vestibulum id ligula porta felis euismod semper.</p>
  </div>
</article>
<% end %>