<% styleguide_block  '3.1' do %>
<button class="button $modifier_class">Example Button</button>
<% end %>

<% styleguide_block  '3.2' do %>
<button class="button button--primary $modifier_class">Example Button</button>
<% end %>