<% styleguide_block  '5.1' do %>
<ul class="gallery">
  <li class="gallery__item"><a class="thumbnail" href="#"><img itemprop="image" src="holder.js/200x150"></a></li>
  <li class="gallery__item"><a class="thumbnail" href="#"><img itemprop="image" src="holder.js/200x150"></a></li>
  <li class="gallery__item"><a class="thumbnail" href="#"><img itemprop="image" src="holder.js/200x150"></a></li>
  <li class="gallery__item"><a class="thumbnail" href="#"><img itemprop="image" src="holder.js/200x150"></a></li>
<ul>
<% end %>